<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;">
        <h2>Password Reset</h2>
        
        <p>We received a request to reset your password. If you didn't make this request, you can ignore this email.</p>
        <p>To reset your password, please click the link below:</p>
        <a href="<%= Link %>">Reset Password</a>
        <p>If the button above doesn't work, you can copy and paste the following URL into your browser:</p>
        <p><%= Link %></p>
        <p>This link will expire in <%= expirationTime %> hours.</p>
        <p>If you have any questions, feel free to contact us at support@example.com.</p>
        <p>Best regards,<br> Divyang Careers</p>
    </div>
</body>
</html>